@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.titlediv {
    border-radius: 15px;
    background-image: linear-gradient(to right,yellow, #222222);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

h1, h2, p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
    filter: contrast(300%);
}

.genmeet {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    position: relative;
    margin: 20px;
    background-color: #ffaaaa;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#headsup {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    rotate: -45deg;
    transform: translate(-50%, -50%);
    transform-origin: top left; 
}

.genmeet > p, h2{
    padding: 10px;
}

input{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px grey;
}

html{
    background-color: #ffffbb;
}

.center {
    text-align: center;
}
